body{
	font-family: 'Source Sans Pro', sans-serif;
	width: 60%;
	align-content: center;
	margin:10px auto;
	border: 20px solid #bdc3c7;
	border
}

h4{
	text-transform: uppercase;
	color: #3498db;
	letter-spacing: 2px;
}

.post{
	margin-left: 20px;
	margin-right: 20px;
}

.firstPar{
	border-left: 5px solid #bdc3c7;
}